﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="my-1">Saphety projects</h1>
        <p class="lead">This page is where you create a new project to be tracked by Vault.</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <form action="/newProject/SubmitData" method="get">
        <div class="form-group">
            <label for="Eid">EID (internal project reference)</label>
            <input type="text" name="Eid" class="form-control" id="Eid" aria-describedby="EidHelp" placeholder="Enter the project EID here...">
            <small id="EidHelp" class="form-text text-muted">When you make any change related with this project, make sure this project is active!</small>
        </div>
        <div class="form-group">
            <label for="Name">Project name</label>
            <input type="text" name="Name" id="Name" aria-describedby="NameHelp" placeholder="Enter the project name (a shortcut version of it!) here...">
            <small id="NameHelp" class="form-text text-muted">This is the name you're going to see the project when you want to select it as active!</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Go back!</button>
    </form>
</div>

