﻿@model WebApplication.Controllers.ApplicationModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Changes</title>
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <!--BOOTSTRAP, jquery & popper-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
@if (Model != null && Model.OracleException != null)
{
    <body onload="IOException('@Model.OracleException')">
        <script>
            function IOException(isConnectionClosed) {
                if (isConnectionClosed == 'True')
                    window.alert("Connection with destiny DB is closed, please make sure that both Endpoint and FortiClient are up and running!");
            }
        </script>

        <div>
            @RenderBody()
        </div>
    </body>
}else
{
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
}

</html>
