﻿@model string
@{
    List<string> dbs = new List<string>() { "Develop", "Quality", "Production" };

    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark">@Model</button>
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            @foreach (string db in dbs)
            {
                @if (!db.Equals(Model))
                {
                    @if (ViewBag.Title.Equals("Netdocs"))
                    {
                        <a class="dropdown-item" href="unstagedNetdocschanges/ChangeDestinationDb/?destinationID=@db">@db</a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="unstagedTradechanges/ChangeDestinationDb/?destinationID=@db">@db</a>
                    }
                }
            }
            </div>
    </div>
}
