﻿@model List<SaphetyStructure.DB.Status>

<div class="btn-group">
    <button type="button" class="btn btn-outline-warning">@Model.Where(st => st.active).First().name</button>
    <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        @foreach (SaphetyStructure.DB.Status st in Model)
        {
            @if (!st.active)
            {
                @if (ViewBag.Title.Equals("Netdocs"))
                {
                    <a class="dropdown-item" href="unstagedNetdocschanges/changeMainProject/?EID=@st.eid">@st.name</a>
                }
                else
                {
                    <a class="dropdown-item" href="unstagedTradechanges/changeMainProject/?EID=@st.eid">@st.name</a>
                }
            }
        }

        <!-- ADD NEW PROJECT -->
        @if (Model.Count > 1)
        {
            <div class="dropdown-divider"></div>
        }
        <a class="dropdown-item" href="newProject">New Project</a>

    </div>
</div>