﻿@model List<SaphetyStructure.DB.GroupChange>

@if (Model.Count > 0)
{
    @foreach (var group in Model)
    {
        <div class="accordion" id="accordionExample">

            @foreach (var table in group.changedTables)
            {
                if (table.changes.Count > 0)
                {
                    <div class="card">
                        <div class="card-header" id="heading @table.name">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@string.Concat(table.name,"staged")" aria-expanded="false" aria-controls="collapseOne">
                                    @table.showName
                                </button>
                            </h5>
                        </div>
                        <div id="@string.Concat(table.name,"staged")" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <table class='table'>
                                <thead>
                                    <tr>
                                        <th>Unselect</th>
                                        <th>Conflict</th>
                                        <th style="font-weight:bold">Operation</th>
                                        @foreach (var col in table.changes[0].keys)
                                        {
                                            <th>@col.Key</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var change in table.changes)
                                    {
                                        @if (change.operation.Equals("UPDATE"))
                                        {
                                            <tr>

                                                <td>
                                                    @if (ViewBag.Title.Equals("Netdocs"))
                                                    {
                                                        <form action="unstagedNetdocschanges/UnselectChange" method="get">
                                                            <input type="hidden" value="@group.name" name="groupName" />
                                                            <input type="hidden" value="@table.name" name="tableName" />
                                                            <input type="hidden" value="@change.ToString()" name="stringifiedChange" />
                                                            <input type="submit" value="Unstage Change">
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <form action="unstagedTradechanges/UnselectChange" method="get">
                                                            <input type="hidden" value="@group.name" name="groupName" />
                                                            <input type="hidden" value="@table.name" name="tableName" />
                                                            <input type="hidden" value="@change.ToString()" name="stringifiedChange" />
                                                            <input type="submit" value="Unstage Change">
                                                        </form>
                                                    }

                                                </td>

                                                <td>@change.conflict</td>

                                                <td style="font-weight:bold">@change.operation</td>
                                                @foreach (var key in change.keys)
                                                {
                                                    <td>@key.Value</td>
                                                }
                                            </tr>

                                            var changedCols = (change as SaphetyStructure.DB.UpdateChange).GetDifferentColumns();

                                            <tr>
                                                <td style="background-color:#afafaf"></td>
                                                <td></td>
                                                @foreach (var col in changedCols)
                                                {
                                                    <td style="font-weight:bold">@col.Key</td>
                                                }
                                            </tr>

                                            <tr>
                                                <td style="background-color:#afafaf"></td>
                                                <td>BEFORE</td>
                                                @foreach (var col in changedCols)
                                                {
                                                    <td style="background-color:#ffa0a0">@col.Value.Value</td>
                                                }
                                            </tr>

                                            <tr>
                                                <td style="background-color:#afafaf"></td>
                                                <td>AFTER</td>
                                                @foreach (var col in changedCols)
                                                {
                                                    <td style="background-color:#c5ffa0">@col.Value.Key</td>
                                                }
                                            </tr>
                                        }

                                        else
                                        {
                                            <tr>
                                                <td>
                                                    @if (ViewBag.Title.Equals("Netdocs"))
                                                    {
                                                        <form action="unstagedNetdocschanges/UnselectChange" method="get">
                                                            <input type="hidden" value="@group.name" name="groupName" />
                                                            <input type="hidden" value="@table.name" name="tableName" />
                                                            <input type="hidden" value="@change.ToString()" name="stringifiedChange" />
                                                            <input type="submit" value="Unstage Change">
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <form action="unstagedTradechanges/UnselectChange" method="get">
                                                            <input type="hidden" value="@group.name" name="groupName" />
                                                            <input type="hidden" value="@table.name" name="tableName" />
                                                            <input type="hidden" value="@change.ToString()" name="stringifiedChange" />
                                                            <input type="submit" value="Unstage Change">
                                                        </form>
                                                    }
                                                </td>

                                                <td>@change.conflict</td>

                                                <td style="font-weight:bold"> @change.operation </td>

                                                @foreach (var key in change.keys)
                                                {
                                                    <td> @key.Value </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
             }
        </div>
    }
}

else
{
    <div>
        <h2>0 Alterações</h2>
    </div>
}
