﻿@model bool

@if (Model)
{
    <label style="margin-left:40px;"><input type='checkbox' id="isTrackingONCheckBox" onclick='ToggleTrackingStatus(this);' checked>Track Trade & Netdocs changes?</label>
}
else
{
    <label style="margin-left:40px;"><input type='checkbox' id="isTrackingONCheckBox" onclick='ToggleTrackingStatus(this);'>Track Trade & Netdocs changes?</label>
}


<script>
    function ToggleTrackingStatus()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "unstagedTradechanges/ToggleTrackingStatus", false); // false for synchronous request
        xmlHttp.send(null);
    }
</script>
