﻿@model WebApplication.Controllers.ApplicationModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="my-1">@ViewBag.Title Changes</h1>
        <p class="lead">This page is where you select which changes you've made are going to be propagated to other environments.</p>

        @if (ViewBag.Title.Equals("Netdocs"))
        {
            <p class="lead">If you want to see changes made on Trade, please press <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='unstagedTradechanges'">here</button></p>
        }
        else
        {
            <p class="lead">If you want to see changes made on Netdocs, please press <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='unstagedNetdocschanges'">here</button></p>
        }
        <hr class="my-3" />
        <div class="row">
            <div class="col-sm-2">
                @if (ViewBag.Title.Equals("Netdocs"))
                {
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='unstagedNetdocschanges/RefreshData'">
                        <img src="~/lib/open-iconic-master/svg/reload.svg" alt="hearth" height="15" width="15">    Refresh data!
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='unstagedTradechanges/RefreshData'">
                        <img src="~/lib/open-iconic-master/svg/reload.svg" alt="hearth" height="15" width="15">    Refresh data!
                    </button>
                }
            </div>
            <div class="col-sm-2">
                @{
                    await Html.RenderPartialAsync("DropdownProjects", Model.projects);
                }
            </div>
            <div class="col-sm-2">
                @if (ViewBag.Title.Equals("Netdocs"))
                {
                    <button type="button" class="btn btn-outline-danger" onclick="window.location.href='unstagedNetdocschanges/DeleteCurrentProject'">
                        <img src="~/lib/open-iconic-master/svg/x.svg" alt="hearth" height="15" width="15">   Delete project
                    </button>

                }
                else
                {
                    <button type="button" class="btn btn-outline-danger" onclick="window.location.href='unstagedTradechanges/DeleteCurrentProject'">
                        <img src="~/lib/open-iconic-master/svg/x.svg" alt="hearth" height="15" width="15">   Delete project
                    </button>
                }
            </div>
            <div class="col-sm-2">
                @{
                    await Html.RenderPartialAsync("DestinationEnvironment", Model.currentApplicationDb);
                }
            </div>
            <div class="col-sm-4">
                @{
                    await Html.RenderPartialAsync("TrackingCheckBox", Model.status.isTracking);
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3>Available Changes</h3>
                <p class="weak-lead">Below are all the available changes you can select for being replicated to other environment.</p>
            </div>
        </div>
        @{
            await Html.RenderPartialAsync("AvailableChanges", Model.available);
        }
    </div>

    <div class="col-sm-6">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3>Selected Changes</h3>
                <p class="weak-lead">Below are all the available changes you selected for being propagated to other environment.</p>
                @if (Model.selected.Count > 0)
                {
                    <hr class="my-2" />
                    @if (ViewBag.Title.Equals("Netdocs"))
                    {
                        <a href="unstagedNetdocschanges/ProduceQueryFile" class="btn btn-outline-primary" download>Generate output file!</a>
                    }
                    else
                    {
                        <a href="unstagedTradechanges/ProduceQueryFile" class="btn btn-outline-primary" download>Generate output file!</a>
                    }
                }
            </div>
        </div>
        @{
            await Html.RenderPartialAsync("SelectedChanges", Model.selected);
        }
    </div>
</div>
